.footer {
  height: 20vh;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr;

  .footer_items {
    width: 100px;
    height: 100px;
  }
  .footer_logos {
    grid-column: 2;
  }
  .footer_payment {
    grid-column: 3;
  }
  .footer_img,
  .footer_logo_content {
    width: 50px;
    height: 50px;
  }
}
