.footer {
  height: 20vh;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #2d3436;
  // background-image: linear-gradient(
  //   315deg,
  //   #2d3436 0%,
  //   #000000 74%
  // );

  .footer_main_logo {
    grid-column: 1;
    font-family: Abril Fatface;
    font-size: 120px;
    color: #f8f9fa;
    letter-spacing: 3px;
    text-align: center;
  }
  .footer_logos {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    .footer_logo_title {
      grid-column: 2/4;
      width: 100%;

      color: #f8f9fa;
      font-size: 35px;
      align-self: center;
      text-align: left;
    }
    .footer_logo_content {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      grid-column: 2/3;
      grid-row: 2/3;
      .footer_link {
        height: 100%;
        // width: 70%;
        .logo_social {
          height: 90%;
        }
      }
    }
  }
  .footer_payment {
    grid-column: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    .footer_payment_title {
      color: #f8f9fa;
      font-size: 35px;
      grid-column: 2/4;
      align-self: center;
      text-align: left;
    }
    .footer_payment_content {
      grid-column: 2/4;
      grid-row: 2;
      width: 100%;
      display: flex;
      .footer_link {
        height: 100%;
        .footer_img {
          height: 93%;
        }
      }
      .footer_link:nth-child(-n + 3) {
        margin-right: 20px;
      }
    }
  }
}
