.user_main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(400px, 1fr)
  );
  grid-template-rows: 200px, auto;
  .week_list {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(100px, 1fr)
    );
  }
}
